<?-include('./_inc/start.ejs') ?>
<!-- show status -->
<div class="container d-flex aic status vh-50">
    <div class="spinner-border text-primary mx-auto" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div class="container py-4 view-order bg-white d-none" style="min-width: 768px;">
    <div class="d-flex jcs aic gap-3 aic my-4 d-print-none">
        <button type="button" class="btn btn-primary save-pdf my-3">Save PDF</button>
        <button type="button" class="btn btn-light close" aria-label="Close" title="Exit Page">Close</button>
    </div>
    <div class="text-black mx-auto border border-black small">
        <div class="entity py-1 my-1 d-flex jcc aic text-black flex-column">
            <span class="name lead fw-bold"></span>
            <span class="tagline mb-2"></span>
            <span class="address"></span>
            <div class="d-flex jcc aic">
                <span class="city"></span>,
                <span class="state mx-2"></span>
                <span class="pin"></span>
            </div>
            <span class="contact"></span>
            <div class="d-flex jcc aic">
                <span class="email"></span>
                <span class="website ms-2"></span>
            </div>
            <div class="d-flex jcb aic gstin d-none">
                <span class="fw-bold me-2">GSTIN:</span>
                <span class="fw-bold gstin font-monospace"></span>
            </div>
        </div>

        <div class="order-type border-top border-bottom border-black d-flex jcc aic py-2">
            <span class="fw-bold doc-type"></span>
        </div>

        <div class="row m-0 py-2">
            <div class="col-4">
                <div class="d-flex jcs aic">
                    <span>Bill Number:</span>
                    <span class="bill-number fw-bold ms-3"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex jcc aic bill-type">
                    <span class="small bill-type" role="button"
                        title="Click To Toggle bewteen (ORIGINAL, DUPLICATE, TRIPLICATE)">(ORIGINAL)</span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex jce aic">
                    <span>Bill Date:</span>
                    <span class="bill-date fw-bold ms-3"></span>
                </div>
            </div>
        </div>

        <div class="party-details border-top border-black">
            <div class="row m-0">
                <div class="col-6 p-2 billing-info d-flex flex-column">
                    To,
                    <div class="d-flex jcs aic mt-1">
                        <span class="party-title"></span>
                        <span class="fw-bold party-name"></span>
                    </div>
                    <span class="bill-address"></span>
                    <div class="d-flex jcs aic mb-2">
                        <span class="bill-city"></span>
                        <span class="bill-state mx-2"></span>
                        <span class="bill-pin"></span>
                    </div>
                    <div class="flex jcs aic">
                        <span>State Code:</span>
                        <span class="state-code ms-2"></span>
                    </div>
                    <div class="d-flex jcs aic mt-1">
                        <span class="fw-bold">GSTIN:</span>
                        <span class="ms-2 party-gstin fw-bold font-monospace"></span>
                    </div>

                </div>
                <div class="col-6 p-2 shipping-info d-flex flex-column border-start border-black">
                    <span class="text-decoration-underline">Shipping Address</span>
                    <div class="d-flex jcs aic mt-1">
                        <span class="party-title"></span>
                        <span class="fw-bold party-name"></span>
                    </div>
                    <span class="ship-address"></span>
                    <div class="d-flex jcs aic mb-2">
                        <span class="ship-city"></span>
                        <span class="ship-state mx-2"></span>
                        <span class="ship-pin"></span>
                    </div>
                    <!-- <div class="flex jcs aic">
              <span>State Code:</span>
              <span class="state-code ms-2"></span>
            </div> -->
                </div>
            </div>
        </div>

        <div class="order-items border-top border-bottom border-black px-1 pb-2" style="min-height: 100px;"></div>

        <div class="row m-0 px-1">
            <div class="col-4 m-0 p-0 py-2 bank-details border-end border-black">
                <table class="table table-sm tbl-custom text-black table-borderless">
                    <tbody class="">
                        <tr>
                            <th>Bank Details</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>-</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Bank</th>
                            <td class="bank-name bank-info">-</td>
                        </tr>
                        <tr>
                            <th>A/c Number</th>
                            <td class="account-number font-monospace bank-info">-</td>
                        </tr>
                        <tr>
                            <th>IFS Code</th>
                            <td class="ifscode font-monospace bank-info">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 m-0 p-0 py-2 border-end border-black">
                <div class="totals ms-auto">
                    <table class="table table-sm text-end table-borderless">
                        <tbody class="">
                            <tr>
                                <th class="gs">Qty. Sold</th>
                                <td class="gs">0.00</td>
                            </tr>
                            <tr>
                                <th class="gr">Qty. Returned</th>
                                <td class="gr">0.00</td>
                            </tr>
                            <tr class="disc">
                                <th>Discount</th>
                                <td class="disc">0.00</td>
                            </tr>
                            <tr class="freight">
                                <th>Freight/Shipping</th>
                                <td class="freight">0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4 m-0 p-0 py-2">
                <div class="totals ms-auto">
                    <table class="table table-sm text-end table-borderless p-0">
                        <tbody class="">
                            <tr>
                                <th class="nettotal">Net Total</th>
                                <td class="subtotal">0.00</td>
                            </tr>
                            <tr class="cgst">
                                <th>Central Tax</th>
                                <td class="cgst">0.00</td>
                            </tr>
                            <tr class="cgst">
                                <th>State Tax</th>
                                <td class="sgst">0.00</td>
                            </tr>
                            <tr class="igst">
                                <th>Integrated Tax</th>
                                <td class="igst">0.00</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td class="total fw-bold">0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="border-top border-black p-1 ">
            <div class="d-flex jcb aic">
                <span class="fw-bold">Total Amount (in words):</span>
                <div class="total-inwords"></div>
            </div>
        </div>

        <div class="footer border-top border-black">
            <div class="row m-0">
                <div class="col-8 m-0 p-2 border-end border-black">
                    <div class="d-flex flex-column jcs">
                        <span class="fw-bold text-decoration-underline">Decelaration</span>
                        <span class="decleration">
                            we Declare that this invoice shows the actual price of the goods described and that all
                            particulars are true and correct.
                        </span>
                        <span class="fw-bold mt-4">E & OE</span>
                    </div>
                </div>
                <div class="col-4 m-0 p-2">
                    <div class="d-flex flex-column align-items-end justify-content-end">
                        <span class="mb-7">Authorised Signatory</span>
                        <div class="d-flex jce aic">
                            <div class="me-2">FOR</div>
                            <span class="entity-for fw-bold"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/a4.js" type="module"></script>
<?-include('./_inc/close.ejs') ?>