<?-include('./_inc/start.ejs') ?>

    <div class="container-md" style="min-width: 300px; min-height: 600px;">
        <div class="d-flex jcc aic vh-80">
            <div class="d-flex aic flex-column p-2 h-100 w-100 bg-white">
                <div class="spinner-border text-primary process my-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

                <div class="d-flex flex-column apps gap-2 w-100 my-auto rounded border p-2 d-none"></div>

                <div class="btn-group mt-auto w-100">                    
                    <a href="/settings" class="btn btn-lg btn-primary flex-fill" title="App Settings"><i class="bi bi-gear"></i></a>
                    <a href="/logout" class="btn btn-lg btn-primary flex-fill" title="Logout"><i class="bi bi-power"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="js/apps.js"></script>
<?-include('./_inc/close.ejs') ?>

