<?-include('./_inc/start.ejs') ?>
<div class="position-fixed top-0 end-0 w-100 h-100 z-n1"
    style="background-image: url('/img/layered-waves.svg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
</div>
<div class="container-md p-2">
    <div class="d-flex jcc aic">
        <span class="h6 trade-name text-uppercase">
            <?=locals.trade ?>
        </span>
    </div>
    <div class="search my-2">
        <input type="search" id="search" class="form-control" placeholder="Search">
    </div>

    <div class="max-vh-80 overflow-auto d-none">
        <div class="menu-list">
            <ul class="list-group list-group-flush menu-list"></ul>
        </div>
    </div>

    <div class="d-flex justify-content-evenly justify-content-sm-start aic gap-4 flex-wrap w-100 menu-items mt-4">
        <!-- <div class="ebs-card">
            <div class="card-content d-flex jcc aic fs-3">hi</div>
        </div>         -->
    </div>
</div>

<script type="module" src="/js/home.js"></script>
<?-include('./_inc/close.ejs') ?>